<div class='user-title'>
  <%= "-#{current_user.name}の冒険の書-"%>
</div>

<div class='user-notice-wrap'>
  <div class='user-notice-box'>
  <p id="notice" class='user-notice'>
    <%= notice %>
  </p>
</div>
</div>

<div class='form-wrap'>
  <div class="friend-form">
  <%= form_with(model: @list, local: true, class: "user-form") do |form| %>

    <div class="user-form-name">
      <%= form.label "フレンド召喚の呪文を唱える：" %>
    </div>

    <div class='user-form-input'>
      <%= form.text_field :followed_id %>
    </div>

    <div class="user-form-submit">
      <%= form.submit %>
    </div>
  <% end %>

  <%= "呪文（フレンドコード）： #{current_user.code} "%>
  <%= link_to 'Twitterで共有', "https://twitter.com/intent/tweet?text=torimaでスケジュール共有！%0afriend_code:%20#{current_user.code}%0a%23torima", title: 'Twitter', target: '_blank' %>
  </div>
  
  <div class=flag-form>
    <%= render partial:'flags/flag' %>
  </div>
</div>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><% flag.status %></td>
        <td><% flag.start_time.strftime("%Y-%m-%d %H") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= month_calendar events: @flags do |date, flags| %>
  <%= link_to "#{date.day}", user_date_show_path(current_user.id, date: date), class: 'date-day' %>

  <% flags.each do |flag| %>
    <div>
      <%= link_to "#{flag.status} /#{User.find(flag.user_id).name}" , flag_chats_path(flag.id), class:'date-quest' %>
    </div>
  <% end %>
<% end %>