<div class='user-title'>
  <%= "-#{current_user.name}の冒険の書-"%>
</div>

<div class='user-notice-wrap'>
  <div class='user-notice-box'>
  <p id="notice" class='user-notice'>
    <%= notice %>
  </p>
</div>
</div>

<div class='form-wrap'>
<%= form_with(model: @list, local: true, class: "user-form") do |form| %>

    <div class="user-form-name">
      <%= form.label "friend_code" %>
    </div>

    <div class='user-form-input'>
      <%= form.text_field :followed_id %>
    </div>

    <div class="user-form-submit">
      <%= form.submit %>
    </div>

<% end %>

<%= render partial:'flags/flag' %>
</div>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><% flag.status %></td>
        <td><% flag.start_time.strftime("%Y-%m-%d %H") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= month_calendar events: @flags do |date, flags| %>
  <%= date.day %>

  <% flags.each do |flag| %>
    <div>
      <%= link_to "#{flag.status} /#{User.find(flag.user_id).name}" , flag_chats_path(flag.id) %>
    </div>
  <% end %>
<% end %>