<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>

  <div class="form-title">
    <h2 class="form-title-name">Welcome back to torima</h2>
  </div>

    <div class="form-error">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="form-group">
        <div class='form-group-title'>
          <%= f.label :email %><br />
        </div>
    <%= f.email_field :email, class: 'form-group-input', placeholder: "ログイン用のメールアドレス", autocomplete: "email" %>
  </div>

  <div class="form-group">
        <div class='form-group-title'>
          <%= f.label :password %><br />
          </div>
    <%= f.password_field :password, class: 'form-group-input', placeholder: "ログイン用のパスワード（6文字以上、英数字混合）", autocomplete: "new-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
    <div class="form-group-checkbox">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.submit "▶︎LET'S GO!", class: 'btn' %>
  </div>

    <div class="bottom-link">
    <%= render "devise/shared/links", class: 'links' %>
  </div>

<% end %>