<!DOCTYPE html>
<html>
  <head>
    <title>torima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <% if user_signed_in? %>
          <%= link_to "torima", user_path(current_user.id), class:'header-link' %>
        <% else %>
          <div class='header-link'>torima</div>
        <% end %>

      <div class='header-button'>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, class:'header-button-text', method: :delete %>
      <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
